01_HelloJavaChaincode/build/
01_HelloJavaChaincode/gradle/
01_HelloJavaChaincode/.gradle/
01_HelloJavaChaincode/.idea/
01_HelloJavaChaincode/out/
02_JavaChaincodeAsset/build/
02_JavaChaincodeAsset/gradle/
02_JavaChaincodeAsset/.gradle/
02_JavaChaincodeAsset/.idea/
02_JavaChaincodeAsset/out/
03_AssetWithAccess/build/
03_AssetWithAccess/gradle/
03_AssetWithAccess/.gradle/
03_AssetWithAccess/.idea/
03_AssetWithAccess/out/

